.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

button {
  margin: 5px;
}

.bignumber {
  font-size: 6.4rem;
  margin: 10px;
}

.add-subtract-buttons button {
  width: 100px;
}

.reset-button {
  width: 210px;
}
